.marketplace {
  background-color: #e6dce7;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marketplace .rectangle {
  background-color: #955ea6;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.marketplace .text-wrapper {
  -webkit-text-stroke: 1px #e7dde8;
  color: #fbfefd;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 39px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.marketplace .div {
  -webkit-text-stroke: 1px #e7dde8;
  color: #fbfefd;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 39px;
  font-weight: 400;
  left: 342px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.marketplace .group {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 159px;
  position: absolute;
  top: 268px;
  width: 338px;
}

.marketplace .rectangle-2 {
  background-color: #fbfefd;
  border-radius: 66px;
  height: 325px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 338px;
}

.marketplace .rectangle-3 {
  background-color: #e9708f;
  border-radius: 66px;
  height: 325px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.marketplace .rectangle-4 {
  background-color: #fbfefd;
  height: 80px;
  left: 0;
  position: absolute;
  top: 260px;
  width: 338px;
}

.marketplace .group-2 {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 551px;
  position: absolute;
  top: 268px;
  width: 338px;
}

.marketplace .rectangle-5 {
  background-color: #f8bf65;
  border-radius: 66px;
  height: 325px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.marketplace .group-3 {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 943px;
  position: absolute;
  top: 268px;
  width: 338px;
}

.marketplace .rectangle-6 {
  background-color: #8093ca;
  border-radius: 66px;
  height: 325px;
  left: 0;
  position: absolute;
  top: 0;
  width: 338px;
}

.marketplace .text-wrapper-2 {
  -webkit-text-stroke: 1px #e7dde8;
  color: #fbfefd;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 39px;
  font-weight: 400;
  left: 509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.marketplace .text-wrapper-3 {
  -webkit-text-stroke: 1px #f8bf65;
  color: #f8bf65;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 39px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 23px;
}

.marketplace .text-wrapper-4 {
  -webkit-text-stroke: 1px #4c223e;
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 160px;
  white-space: nowrap;
}

.marketplace .text-wrapper-5 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 537px;
  white-space: nowrap;
}

.marketplace .text-wrapper-6 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
  white-space: nowrap;
}

.marketplace .text-wrapper-7 {
  color: #f0a5b8;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 612px;
  white-space: nowrap;
}

.marketplace .text-wrapper-8 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 573px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 537px;
  white-space: nowrap;
}

.marketplace .text-wrapper-9 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 573px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
  white-space: nowrap;
}

.marketplace .text-wrapper-10 {
  color: #f8bf65;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 583px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 612px;
  white-space: nowrap;
}

.marketplace .text-wrapper-11 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 967px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 537px;
  white-space: nowrap;
}

.marketplace .text-wrapper-12 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 967px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 574px;
  white-space: nowrap;
}

.marketplace .text-wrapper-13 {
  color: #8093ca;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 977px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 612px;
  white-space: nowrap;
}

.marketplace .group-4 {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 162px;
  position: absolute;
  top: 725px;
  width: 338px;
}

.marketplace .group-5 {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 554px;
  position: absolute;
  top: 725px;
  width: 338px;
}

.marketplace .group-6 {
  box-shadow: 0px 4px 4px #00000040;
  height: 406px;
  left: 946px;
  position: absolute;
  top: 725px;
  width: 338px;
}

.marketplace .text-wrapper-14 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 179px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 994px;
  white-space: nowrap;
}

.marketplace .text-wrapper-15 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 179px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1031px;
  white-space: nowrap;
}

.marketplace .text-wrapper-16 {
  color: #f0a5b8;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 189px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1069px;
  white-space: nowrap;
}

.marketplace .text-wrapper-17 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 576px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 994px;
  white-space: nowrap;
}

.marketplace .text-wrapper-18 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 576px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1031px;
  white-space: nowrap;
}

.marketplace .text-wrapper-19 {
  color: #f8bf65;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 586px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1069px;
  white-space: nowrap;
}

.marketplace .text-wrapper-20 {
  color: #4c223e;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 970px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 994px;
  white-space: nowrap;
}

.marketplace .text-wrapper-21 {
  color: #4c223e7d;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 970px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1031px;
  white-space: nowrap;
}

.marketplace .text-wrapper-22 {
  color: #8093ca;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 980px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 1069px;
  white-space: nowrap;
}

.marketplace .rectangle-7 {
  background-color: #c8c6c9;
  border-radius: 44px;
  height: 59px;
  left: 497px;
  position: absolute;
  top: 167px;
  width: 819px;
}

.marketplace .rectangle-8 {
  background-color: #8dbb6b;
  border-radius: 44px;
  height: 59px;
  left: 1088px;
  position: absolute;
  top: 167px;
  width: 228px;
}

.marketplace .p {
  color: #999999;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 527px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
}

.marketplace .text-wrapper-23 {
  color: #fbfefd;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 1155px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
}

.marketplace .ellipse {
  background-color: #8dbb6b;
  border-radius: 71px;
  box-shadow: 0px 4px 4px #00000040;
  height: 142px;
  left: 1251px;
  position: absolute;
  top: 861px;
  width: 142px;
}

.marketplace .text-wrapper-24 {
  color: #fbfefd;
  font-family: "Coolvetica-Regular", Helvetica;
  font-size: 100px;
  font-weight: 400;
  left: 1298px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 872px;
  white-space: nowrap;
  width: 115px;
}